<!-- <header -->
<!--   class="bg-red-100 bg-azul-cobalto h-24 text-white flex flex-row items-center justify-center gap-4 justify-between px-4 xl:px-48"> -->
<!---->
<!--   <button type="" -->
<!--     class="h-16 bg-white text-azul-cobalto w-44 rounded-lg hover:bg-vermelho-vinho hover:text-white transition duration-300 ease-in-out max-[700px]:hidden">CURSOS</button> -->
<!---->
<!--   <button type="" class="h-16 text-azul-cobalto w-16 rounded-lg md:hidden"><img -->
<!--       src="../../../../assets/icons/barra-de-menu.png" alt=""></button> -->
<!---->
<!--   <div class="flex flex-row gap-4"> -->
<!--     <img src="../../../../assets/icons/ufpa-logo.png" alt="" class="w-16 max-[700px]:hidden"> -->
<!--     <div class="flex flex-col justify-center items-center max-[700px]:hidden "> -->
<!--       <h1 class="flex justify-center ">UFPA</h1> -->
<!--       <p>Universidade Federal do Pará</p> -->
<!--     </div> -->
<!--   </div> -->
<!---->
<!--   <div class="flex gap-4"> -->
<!--     <!-- <input type="" name="" value=""> -->
<!--     <button type=""><img src="./assets/icons/lupa.png" alt="" class="w-16"></button> -->
<!--     <button type=""><img src="./assets/icons/login-icon.png" alt="" class="w-16"></button> -->
<!--   </div> -->
<!-- </header> -->

<header
  class="w-full bg-azul-cobalto flex justify-between items-center p-2 pt-4 sm:px-4 md:px-8 lg:px-16 xl:px-24 2xl:px-32 ">

  <div class="flex-1 text-red-50">
    <div class="flex items-center ">
      <button type=""><img src="../../../../assets/icons/barra-de-menu.png" alt="" class="h-12 lg:hidden "></button>

      <button type=""
        class="h-14 bg-white text-azul-cobalto w-44 rounded-lg hover:bg-vermelho-vinho hover:text-white transition duration-300 ease-in-out hidden lg:block">CURSOS</button>
    </div>
  </div>


  <div class="flex-1 text-red-50 flex justify-center">
    <div class="flex flex-row items-center gap-4">
      <img src="../../../../assets/icons/ufpa-logo.png" alt="" class="w-14 hidden mb-2 sm:block">

      <div class="text-white hidden md:block">
        <h1 class="text-4xl text-center">UFPA</h1>
        <p class="text-xs text-center">Universidade Federal do Pará</p>
      </div>
    </div>
  </div>

  <div class="flex-1 text-red-50 flex justify-end gap-4">
    <input type="" name="" value="" class="rounded-lg hidden xl:block">
    <button type=""><img src="./assets/icons/lupa.png" alt="" class="w-12"></button>
    <button type=""><img src="./assets/icons/login-icon.png" alt="" class="w-12"></button>
  </div>

  <!-- <div class="flex items-center "> -->
  <!--   <button type=""><img src="../../../../assets/icons/barra-de-menu.png" alt="" class="h-12 sm:hidden"></button> -->
  <!---->
  <!--   <button type="" -->
  <!--     class="h-14 bg-white text-azul-cobalto w-44 rounded-lg hover:bg-vermelho-vinho hover:text-white transition duration-300 ease-in-out invisible sm:visible">CURSOS</button> -->
  <!-- </div> -->
  <!---->
  <!---->
  <!-- <div class="flex flex-row items-center gap-4"> -->
  <!--   <img src="../../../../assets/icons/ufpa-logo.png" alt="" class="w-14 hidden sm:block"> -->
  <!---->
  <!--   <div class="text-white hidden sm:block"> -->
  <!--     <h1 class="text-4xl text-center">UFPA</h1> -->
  <!--     <p class="text-xs text-center">Universidade Federal do Pará</p> -->
  <!--   </div> -->
  <!-- </div> -->
  <!---->
  <!-- <div> -->
  <!--   <button type=""><img src="./assets/icons/lupa.png" alt="" class="w-12"></button> -->
  <!--   <button type=""><img src="./assets/icons/login-icon.png" alt="" class="w-12"></button> -->
  <!-- </div> -->

</header>

<!-- <div class="w-full flex items-center border border-red-950 justify-between p-2 px-64"> -->
<!--   <div class="bg-fuchsia-800">Evan</div> -->
<!--   <div class="bg-red-800">Evan</div> -->
<!--   <div class="bg-green-800">Evan</div> -->
<!-- </div> -->
<!---->
<!-- <div class="w-full flex items-center border border-red-950 justify-between p-2 px-64"> -->
<!--   <div class="flex-1 bg-fuchsia-800"> -->
<!--     <div class="flex items-center "> -->
<!---->
<!--       <button type=""><img src="../../../../assets/icons/barra-de-menu.png" alt="" class="h-12 sm:hidden"></button> -->
<!---->
<!--       <button type="" -->
<!--         class="h-14 bg-white text-azul-cobalto w-44 rounded-lg hover:bg-vermelho-vinho hover:text-white transition duration-300 ease-in-out invisible sm:visible">CURSOS</button> -->
<!---->
<!--     </div> -->
<!--   </div> -->
<!--   <div class="flex-1 bg-red-800 flex justify-center"> -->
<!--     <div class="flex flex-row items-center gap-4"> -->
<!---->
<!--       <img src="../../../../assets/icons/ufpa-logo.png" alt="" class="w-14 hidden sm:block"> -->
<!---->
<!--       <div class="text-white hidden sm:block"> -->
<!--         <h1 class="text-4xl text-center">UFPA</h1> -->
<!--         <p class="text-xs text-center">Universidade Federal do Pará</p> -->
<!--       </div> -->
<!---->
<!--     </div> -->
<!--   </div> -->
<!--   <div class="flex-1 bg-green-800"> -->
<!--     <div> -->
<!--       <button type=""><img src="./assets/icons/lupa.png" alt="" class="w-12"></button> -->
<!--       <button type=""><img src="./assets/icons/login-icon.png" alt="" class="w-12"></button> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->
